
.floor {
  position: relative;
  width: var(--floor-width);
}

.floor-hall {
	background-color: silver;
	background-image: linear-gradient(335deg, #b00 23px, transparent 23px), linear-gradient(155deg, #d00 23px, transparent 23px), linear-gradient(335deg, #b00 23px, transparent 23px), linear-gradient(155deg, #d00 23px, transparent 23px);
	background-size: 58px 58px;
	background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  height: var(--floor-width);
  color: white;
	font-weight: bold;
	text-align: center;
}

.ceiling {
	height: var(--ceiling-height);
	width: 100%;
	background: black;
  position: relative;
}

.counter {
	color:black;	
	font-size: 16px;
	background-color: rgba(255,255,255,.7);
	width:100%;
	margin: 0 auto;
}