.shaft {
    display: inline-flex;
    position: relative;
    background: lightslategray;
    width:var(--floor-width); 
    height: 100%;  
}
.shaft:nth-child(odd) {
    background: lightgray;
}

img {
    height: var(--floor-width);
    position: absolute;
}

.elevator {
    /*--speed-per-floor:.5s;
    --stall-time-on-arrival : 2s;
    transition: transform calc( var(--speed-per-floor) * var(--floors-to-travel) );*/
    transition: transform var(--travel-time);
}

.elevator.go {
    transform:translate3d(0px , calc( var(--target-floor) * var(--floor-computed-height) ) , 0px)
}
